results
*.mp4
*.png
libero-sac
merged_policy_dir
logs
*.md
*/video/*
*/wandb/*

__pycache__
.vscode
*.log
*.idx
*.npy
*.txt
!requirements/**
!docs/*
*.DS_Store
*.out
build
docs/build
dist
logs/*
outputs/*
*.so
.venv
uv.lock
rlinf/envs/maniskill/assets